--- 
import { getLatestLaunches, getLaunchBy } from "../../services/spacex";
import Layout from "../../layouts/Layout.astro";

const { id }=Astro.params

let launch 
if(id){
   launch = await getLaunchBy({id})
}

export async function getStaticPaths(){

    const launches = await getLatestLaunches()
    return launches.map(launch=>({
        params:{id:launch.id},
    }))
    
}

---
<Layout title=`Lanzamientos ${id}`>
    <article class="m-auto rounded-lg shadow-lg">
        <img class="flex w-1/3 h-1/3 m-auto 0" src={launch?.links?.patch.small} alt={launch?.name}>
        <div class="w-full p-4 m-5 bg-white dark:bg-gray-800">
            <h2 class="m-5 text-4xl text-white font-bold">Launch #{launch?.flight_number} - <span class="text-4xl">{launch?.name}</span></h2>
            <p class="m-5 text-lg">{launch?.details}</p>
        </div>               
    </article>
</Layout>